body {
    color: #383749;
    font-size: 16px;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
}

img {
    vertical-align: baseline;
}

/*--------------------------------------------------------------
# Helper Utilities
--------------------------------------------------------------*/
.flex {
    display: flex !important;
}

/*--------------------------------------------------------------
# About Page
--------------------------------------------------------------*/
.about-page .page-header {
    background: url(images/courses-header.jpg) no-repeat center;
}

.about-heading,
.team-heading {
    margin-top: 80px;
    text-align: center;
}

.about-heading h2,
.team-heading h2 {
    font-size: 42px;
    font-weight: 400;
    color: #383749;
}

.about-heading p,
.team-heading p {
    margin-top: 20px;
    color: #757686;
}

.about-stories,
.about-values {
    color: #757686;
}

.about-stories h3,
.about-values h3 {
    margin-top: 48px;
    font-size: 24px;
    font-weight: 400;
    color: #383749;
}

.about-stories p,
.about-values p {
    line-height: 1.6;
    color: #757686;
}

ul.green-ticked {
    list-style: none;
}

ul.green-ticked li {
    position: relative;
    padding-left: 24px;
    margin-top: 8px;
}

ul.green-ticked li::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 100%;
    font-size: 14px;
    font-family: 'FontAwesome';
    color: #19c880;
}

.about-page .about-section {
    margin-top: 100px;
}

.about-page .testimonial-section {
    border-bottom: 1px solid #ebebeb;
}

.team-heading {
    text-align: center;
}

.team-member {
    padding: 32px 40px;
    margin-top: 48px;
    border: 1px solid #ebebeb;
    text-align: center;
    transition: all .35s;
}

.team-member:hover {
    box-shadow: 0 0 38px rgba(81,107,117,.21);
}

.team-member img {
    width: 180px;
    max-width: 100%;
    border-radius: 50%;
}

.team-member h3 {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 400;
    color: #383749;
}

.team-member h4 {
    font-size: 16px;
    font-weight: 400;
    color: #19c880;
}

.team-member ul {
    margin-top: 24px !important;
    list-style: none;
}

.team-member ul li {
    margin: 0 10px ;
}

.team-member ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    text-decoration: none;
    transition: all .35s;
}

.team-member ul li .fa {
    font-size: 18px;
    font-family: 'FontAwesome';
    color: #c0c1cd;
}

.team-member ul li a:hover {
    border-color: transparent;
    background: #19c880;
}

.team-member ul li a:hover .fa {
    color: #fff;
}

/*
# About Section
--------------------------------*/
.about-section {
    padding: 100px 0;
    background: #f7f7f7;
}

.about-section .heading {
    padding-right: 80px;
}

.about-section .heading .entry-title {
    margin: 0;
    font-size: 42px;
    font-weight: 400;
}

.about-section .heading  p {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.8;
    color: #757686;
}

.ezuca-stats {
    padding-right: 80px;
}

.ezuca-stats .stats-count {
    width: 50%;
    margin-top: 16px;
    font-size: 60px;
    line-height: 1.2;
    color: #19c880;
}

@media screen and (max-width: 576px) {
    .ezuca-stats .stats-count {
        width: 100%;
    }
}

.ezuca-stats .stats-count span {
    font-size: 36px;
}

.ezuca-stats .stats-count p {
    font-size: 16px;
    color: #757686;
    text-transform: uppercase;
}

/*
# About Section: Video
--------------------------------*/
.ezuca-video {
    width: 100%;
}

.ezuca-video .video-play-btn {
    top: 50%;
    left: -40px;
    z-index: 99;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    cursor: pointer;
}

.position-absolute {
    position: absolute!important;
}

.ezuca-video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 992px) {
    .about-section .heading {
        padding-right: 0;
    }

    .ezuca-stats {
        padding-right: 0;
    }

    .ezuca-video .video-play-btn {
        left: 50%;
        margin-left: -40px;
    }
}

/*
# About Section: Testimonial
--------------------------------*/
.testimonial-section {
    padding: 100px 0;
}

.testimonial-slider .swiper-slide .user-avatar {
    opacity: .3;
    margin-bottom: 0;
}

.testimonial-slider .swiper-slide.swiper-slide-active .user-avatar {
    opacity: 1;
}

.testimonial-slider .swiper-slide:nth-of-type(2) .user-avatar,
.testimonial-slider .swiper-slide:nth-of-type(5) .user-avatar {
    margin-left: calc(50% - 150px);
}

.testimonial-slider .swiper-slide:nth-of-type(3) .user-avatar {
    margin-left: calc(50% - 40px);
}

.testimonial-slider .swiper-slide:nth-of-type(1) .user-avatar,
.testimonial-slider .swiper-slide:nth-of-type(4) .user-avatar {
    margin-left: calc(50% + 70px);
}


.testimonial-slider .swiper-slide-next {
    opacity: 1 !important;
}

.testimonial-slider .user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonial-slider .user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-slider .content-wrap {
    background: #fff;
}

.testimonial-slider .entry-content p {
    font-size: 26px;
    color: #383749;
}

.testimonial-slider .testimonial-user {
    display: inline-block;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    color: #19c880;
}

.testimonial-slider .testimonial-user::after {
    content: '';
    position: absolute;
    top: -12px;
    right: -100px;
    width: 38px;
    height: 32px;
    background: url("../img/quote-icon.png") no-repeat center;
}

.testimonial-slider .testimonial-user span {
    font-size: 14px;
    color: #c0c1cd;
    text-transform: initial;
}

.testimonial-slider .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 6px;
    border: 2px solid #c6adb8;
    background: transparent;
    opacity: 1;
}

.testimonial-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #19c880;
    border: transparent;
}

/*--------------------------------------------------------------
# Breadcrumb
--------------------------------------------------------------*/
.breadcrumbs {
    margin: 30px 0;
}

.breadcrumbs ul {
    list-style: none;
}

.breadcrumbs li {
    position: relative;
    padding-right: 16px;
    margin-right: 10px;
    color: #c0c1cd;
}

.breadcrumbs li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 6px;
    height: 100%;
    font-family: 'FontAwesome';
}

.breadcrumbs li:nth-last-of-type(1)::after {
    display: none;
}

.breadcrumbs li a {
    color: #383749;
    text-decoration: none;
}