/*BG Colors*/
$bg-color-primary-1: #ffffff;
$bg-color-primary-2: rgba(255,255,255,.1);
$bg-color-primary-3: #ebebeb;
$bg-color-primary-4: #f3f3f3;
$bg-color-primary-5: rgba(0,0,0,.9);
$bg-color-primary-6: rgba(21,20,33,.5);
$bg-color-primary-7: #19c880;
$bg-color-primary-8: #f7f7f7;

/*Text Colors*/
$font-color-primary-1: #19c880;
$font-color-primary-2: #ebebeb;
$font-color-primary-3: #383749;
$font-color-primary-4: #ffffff;
$font-color-primary-5: #c0c1cd;
$font-color-primary-hover: #383749;
$font-color-primary-visited: #757686;
$font-color-nav-hover: #04091e;

/*Buttons Colors*/
$bg-color-btn-1: #19c880;
$color-btn-1: #ffffff;
$bg-color-btn-1-hover: #ffffff;
$color-btn-1-hover: #ff652f;
$bg-color-btn-2: #ffffff;
$color-btn-2: #222222;
$bg-color-btn-2-hover: #222222;
$color-btn-2-hover: #ffffff;
$bg-color-round-btn-: #ffffff;
$color-btn-round: #222222;
$bg-color-btn-round-hover: #f7631b;
$color-btn-round-hover: #ffffff;

/*Border color main-nav*/
$border-color-main-nav: #f7631b;
